
body {
  background-color: #fff;
  background: url("../img/cropped-nature_microbiome2_darken50-1.jpg"); 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: auto;
  
  /* color: #fff; 
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  text-color: black;
  background-color: black; */
}


