/**
 * Stylesheet for the JDRF-MBIC data portal
 */

.protocol-doc {
    padding: 0 0 2px 7px;
}

.berry_red_text {
    color:#8e0000;
    font-weight: bold;
}

.berry_red_background {
    background:#8e0000;
}

.green_bold_text {
    color:#11511b;
    font-weight: bold;
}

.bold_text {
    font-weight: bold;
}

.login_width {
    width: 300px;
}

.terminalstyle {
    background-color: #eeefea;
    border: 2px solid #11511b;
    color: #11511b;
    font-weight: bold;
    padding: 8px;
    font-family: courier new;
}

.terminalstylered {
    background-color: #eeefea;
    border: 2px solid #8e0000;
    color: #8e0000;
    font-weight: bold;
    padding: 8px;
    font-family: courier new;
}

.table_bold {
    font-weight: bold;
    width: 100%;
}

.width_20 {
    width: 20%;
}

.width_5 {
    width: 5%;
}

.width_75 {
    width: 75%;
}

th, td { white-space: nowrap; overflow: hidden; }