/**
 * Stylesheet for the JDRF-MBIC data portal
 */

.protocol-doc {
    padding: 0 0 2px 7px;
}

.berry_red_text {
    color:#8e0000;
    font-weight: bold;
}

.berry_red_background {
    background:#8e0000;
}

.green_bold_text {
    color:#11511b;
    font-weight: bold;
}

.bold_text {
    font-weight: bold;
}

.login_width {
    width: 300px;
}

.terminalstyle {
    background-color: #eeefea;
    border: 2px solid #11511b;
    color: #11511b;
    font-weight: bold;
    padding: 8px;
    font-family: courier new;
}

.terminalstylered {
    background-color: #eeefea;
    border: 2px solid #8e0000;
    color: #8e0000;
    font-weight: bold;
    padding: 8px;
    font-family: courier new;
}

.table_bold {
    font-weight: bold;
    width: 100%;
}

.width_20 {
    width: 20%;
}

.width_5 {
    width: 5%;
}

.width_75 {
    width: 75%;
}

th, td { white-space: nowrap; overflow: hidden; }

#optional_fields_msg {
    padding-bottom: 12px;
    font-weight: bold;
}

#panel_study_metadata button {
    margin-top: 12px;
}

#panel_sample_metadata .panel-heading {
    opacity: .5;
}
#panel_sample_metadata .panel-body {
    display: none;
}

#study_metadata_form .col-xs-5 {
    padding-left: 0px;
}

#validation {
    padding-top: 5px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.alert .glyphicon{
    display:table-cell;
}

.alert div,
.alert span{
    padding-left: 5px;
    display:table-cell;
}

.hidden { 
    display: none; 
}

.nopadding {
    padding: 0 !important;
    padding-left: 0 !important;
    margin: 0 !important;
 }

 #mismatch_cols {
     padding-left: 10px;
 }

/* Rotating glyphicon when expanding/collapsing */
.collapse-optional-fields .glyphicon {
    transition: .3s transform ease-in-out;
}

.collapse-optional-fields .collapsed .glyphicon {
    transform: rotate(-90deg);
}

.collapse-optional-fields a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.collapse-optional-fields .collapse {
    margin-top: 10px;
}

#edit_buttons .dt-buttons {
    float: right !important;
}

td.to-rename, td.to-delete {
    text-align: center;
    cursor: pointer;
}

.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

#rename-modal .modal-sm {
    width: 400px;
}

.no-files-row  {
    text-align: center;
    font-weight: bold;
}

tr {
    background-color: white;
    transition: background-color 1s;
}

.flash-success {
    background-color: #dff0d8;
    transition: background-color 1s;
}

.flash-delete {
    background-color: #f8d7da;
    transition: background-color 1s;
}

.deleted-list {
    padding-top: 8px;
    margin-bottom: 5px !important;
}
