{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>JDRF MIBC Upload Metadata</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" media="all" rel="stylesheet" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/fileinput.min.css' %}" media="all" rel="stylesheet" rel="stylesheet">
    <link href="{% static 'bootstrap/css/jumbotron.css' %}" media="all" rel="stylesheet" rel="stylesheet">
    <link href="{% static 'css/jdrf.css' %}" media="all" rel="stylesheet" rel="stylesheet">
    <link href="{% static 'css/datatables.min.css' %}" media="all" rel="stylesheet" rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fileinput.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jdrf_upload_metadata.js' %}"></script>

  </head>

   <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color: #e3ede4" href="/">JDRF MIBC</a>
        </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% if not user.is_authenticated %} <li><a href="/login">Login</a></li> {% endif %}
              <li class="active"><a href="/upload_metadata">Upload Metadata</a></li>
              <li><a href="/upload">Upload Sequence Files</a></li>
              <li><a href="/process">Process</a></li>
              <li><a href="/download">Download</a></li>
              <li><a href="/about">About</a></li>
              </li>
            </ul>
        {% if user.is_authenticated %}
          <form class="navbar-form navbar-right" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="btn btn-success" style="background: #11511b" type="submit">Logout</button>
        </form>
        {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container" style="background: url('{% static 'img/large_figure.png' %}') no-repeat center">
        <img src="{% static 'img/hutlab_jdrf_logo_small_border_red.png' %}" heigh=100 width=125>
      </div>
    </div>

    <div class="container">
          <h2>Upload Metadata</h2>
          <p>Upload JDRF project metadata in Excel/CSV format below. A template containing the 
            required metadata schema can be found <a href="#">here</a>.</p>

          <p>Metadata will be validated and any errors found will be displayed. Errors must be 
            corrected before metadata can be properly submitted.</p>
          <br />
          
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <form id="upload_form" enctype="multipart/form-data" method="post" >
                <input id="metadata_file_upload" name="metadata_file" type="file">
              </form>
            </div>
          </div>
          <br />

          <div id="validation">
            <h2>Validation </h2>
            <p>Errors in the submitted metadata file are displayed below. 
              Please correct errors and resubmit file.</p>
            <p>A spreadsheet containing all validation errors can be downloaded <a href="#">here</a></p>.

            <table id="metadata_file_preview" class="table table-striped table-bordered" 
              cellspacing="0" width="100%">
              <thead>
                  <tr>
                      <th>Study ID</th>
                      <th>PI Name</th>
                      <th>BioProject Accession</th>
                      <th>Host Subject ID</th>
                      <th>Host Body Mass Index</th>
                      <th>Host Diet</th>
                      <th>Host Disease</th>
                      <th>Host Body Product</th>
                      <th>Host Family Relationship</th>
                      <th>Host Genotype</th>
                      <th>Host Phenotype</th>
                      <th>Host Tissue Sampled</th>
                      <th>Gastrointestinal Disease</th>
                      <th>IHMC Medication Code</th>
                      <th>Subject Tax ID</th>
                      <th>Subject Age</th>
                      <th>Subject Sex</th>
                      <th>Ethnicity</th>
                      <th>Geo Location Name</th>
                      <th>Sample ID</th>
                      <th>Sample Type</th>
                      <th>Collection Date</th>
                      <th>Source Material ID</th>
                      <th>Isolation Source</th>
                      <th>Sample Material Process</th>
                      <th>Sample Storage Duration</th>
                      <th>Sample Storage Temperature</th>
                      <th>Sample Storage Mass</th>
                      <th>Animal Vendor</th>
                      <th>Variable Region</th>
                      <th>Organism Count</th>
                      <th>EnvO Biom</th>
                      <th>EnvO Feature</th>
                      <th>EnvO Material</th>
                      <th>Sequencer</th>
                      <th>Read Number</th>
                      <th>Sequencing Facility</th>
                      <th>File Name</th>
                      <th>MD5 Checksum</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
      <hr>

    </div> <!-- /container -->
  </body>
</html>
